<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>
        <h1>BEST_BOOLING</h1>
        <h2>BEST_BOOLING</h2>
        <p>booling_alley_adress</p>
    </body>
</html>
