<!DOCTYPE html>
<html>
    <head>
        <title>\n</title>
    </head>
    <body>
        <h1>Buster's Best Bowling Alley</h1>
        <h2>we the best Booling alley</h2>
        <p>booling_alley_adress</p>
    </body>
</html>
